# Build artifacts
build/
builddir/
*.sif
*.img
*.tar.gz
*.squashfs


# Logs
*.log
logs/


# Temporary files
*.tmp
*.swp
*.bak
*~


# OS files
.DS_Store
Thumbs.db


# Editor settings
.vscode/
.idea/


# Go build cache
/pkg/
/bin/


# Python cache (if used)
__pycache__/
*.pyc
