name: Singularity CI
on:
  push:
  pull_request:
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            autoconf \
            automake \
            libtool \
            pkg-config \
            libgpgme-dev \
            libseccomp-dev \
            libsubid-dev \
            libfuse3-dev \
            fuse3 \
            fuse2fs \
            cryptsetup \
            runc \
            squashfs-tools \
            squashfs-tools-ng \
            uidmap \
            uuid-dev \
            git \
            wget \
            conmon \
            zlib1g-dev

      - name: Install Go
        run: wget https://go.dev/dl/go1.22.5.linux-amd64.tar.gz && sudo tar -C /usr/local -xzf go1.22.5.linux-amd64.tar.gz

      - name: Build Singularity
        run: |
          export PATH=$PATH:/usr/local/go/bin
          cd /usr/local/src
          sudo git clone --recurse-submodules https://github.com/sylabs/singularity.git
          cd singularity
          sudo ./mconfig
          sudo make -C builddir
          sudo make -C builddir install

      - name: Run CI test
        run: bash scripts/ci/github_ci_test.sh